<a href="https://colab.research.google.com/github/joyjixu/qm2_resources/blob/main/qm2_resources/data_preprocessing/clean_covid_cases_deaths_population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First, upload the dataset including the Covid-19 deaths and cases into Google Colab.
Then, Replace the filename with the pathway of the dataset.

In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv("/content/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv") 
df.head()

         date state  ...  consent_cases  consent_deaths
0  01/22/2020    CO  ...          Agree           Agree
1  01/23/2020    CO  ...          Agree           Agree
2  01/24/2020    CO  ...          Agree           Agree
3  01/25/2020    CO  ...          Agree           Agree
4  01/26/2020    CO  ...          Agree           Agree

[5 rows x 15 columns]

We want to remove the the columns that are unnecessary and clean the data set. We are concerned with the new cases, total cases, new deaths and total deaths.

In [2]:
#remove columns
to_drop = ['conf_cases','prob_cases','pnew_case','conf_death','prob_death','pnew_death','created_at','consent_cases','consent_deaths']
df.drop(to_drop, inplace=True, axis=1)
df.head()

         date state  tot_cases  new_case  tot_death  new_death
0  01/22/2020    CO          0         0          0          0
1  01/23/2020    CO          0         0          0          0
2  01/24/2020    CO          0         0          0          0
3  01/25/2020    CO          0         0          0          0
4  01/26/2020    CO          0         0          0          0

We will now remove all the dates for each state, except for the month of April, as this is when we are doing the Sentiment Analysis of Tweets.

In [3]:
#remove dates except for april for each state
april = df[(df['date'] >= '04/01/2020') & (df['date'] <= '04/30/2020')]
april.head()

          date state  tot_cases  new_case  tot_death  new_death
70  04/01/2020    CO       3342       376         80         11
71  04/02/2020    CO       3728       386         97         17
72  04/03/2020    CO       4173       445        111         14
73  04/04/2020    CO       4565       392        126         15
74  04/05/2020    CO       4950       385        140         14

Export the cleaned data set to a csv file.

In [4]:
#export.csv
april.to_csv(r'april_covid_deaths_cases.csv', index = False)

Upload the dataset containing the population of each state for 2020 in each US state. Replace the name with the file path.

In [5]:
import pandas as pd 
df = pd.read_csv("/content/us_state_population.csv") 
print(df)

                   State  Population Estimate (as of July 1 2020)
0                 Alaska                                   734002
1                Alabama                                  4908621
2               Arkansas                                  3038999
3                Arizona                                  7378494
4             California                                 39937489
5               Colorado                                  5845526
6            Connecticut                                  3563077
7   District of Columbia                                   720687
8               Delaware                                   982895
9                Florida                                 21992985
10               Georgia                                 10736059
11                Hawaii                                  1412687
12                  Iowa                                  3179849
13                 Idaho                                  1826156
14              Illinois                                 12659682
15               Indiana                                  6745354
16                Kansas                                  2910357
17              Kentucky                                  4499692
18             Louisiana                                  4645184
19         Massachusetts                                  6976597
20              Maryland                                  6083116
21                 Maine                                  1345790
22              Michigan                                 10045029
23             Minnesota                                  5700671
24              Missouri                                  6169270
25           Mississippi                                  2989260
26               Montana                                  1086759
27        North Carolina                                 10611862
28          North Dakota                                   761723
29              Nebraska                                  1952570
30         New Hampshire                                  1371246
31            New Jersey                                  8936574
32            New Mexico                                  2096640
33                Nevada                                  3139658
34              New York                                 19440469
35                  Ohio                                 11747694
36              Oklahoma                                  3954821
37                Oregon                                  4301089
38          Pennsylvania                                 12820878
39          Rhode Island                                  1056161
40        South Carolina                                  5210095
41          South Dakota                                   903027
42             Tennessee                                  6897576
43                 Texas                                 29472295
44                  Utah                                  3282115
45              Virginia                                  8626207
46               Vermont                                   628061
47            Washington                                  7797095
48             Wisconsin                                  5851754
49         West Virginia                                  1778070
50               Wyoming                                   567025

The following is a dictionary sourced from a GitHub repository with the abbreviated names for each state.

In [7]:
# United States of America Python Dictionary to translate States,
# Districts & Territories to Two-Letter codes and vice versa.
#
# https://gist.github.com/rogerallen/1583593
#
# Dedicated to the public domain.  To the extent possible under law,
# Roger Allen has waived all copyright and related or neighboring
# rights to this code.

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
print(us_state_abbrev)

{'Alabama': 'AL', 'Alaska': 'AK', 'American Samoa': 'AS', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Guam': 'GU', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Northern Mariana Islands': 'MP', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Puerto Rico': 'PR', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virgin Islands': 'VI', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

Add a column with the state abbreviations to the dataframe from the dictionary.

In [8]:
df['state abbreviation'] = df['State'].map(us_state_abbrev)
print(df)

                   State  ...  state abbreviation
0                 Alaska  ...                  AK
1                Alabama  ...                  AL
2               Arkansas  ...                  AR
3                Arizona  ...                  AZ
4             California  ...                  CA
5               Colorado  ...                  CO
6            Connecticut  ...                  CT
7   District of Columbia  ...                  DC
8               Delaware  ...                  DE
9                Florida  ...                  FL
10               Georgia  ...                  GA
11                Hawaii  ...                  HI
12                  Iowa  ...                  IA
13                 Idaho  ...                  ID
14              Illinois  ...                  IL
15               Indiana  ...                  IN
16                Kansas  ...                  KS
17              Kentucky  ...                  KY
18             Louisiana  ...                  LA
19         Massachusetts  ...                  MA
20              Maryland  ...                  MD
21                 Maine  ...                  ME
22              Michigan  ...                  MI
23             Minnesota  ...                  MN
24              Missouri  ...                  MO
25           Mississippi  ...                  MS
26               Montana  ...                  MT
27        North Carolina  ...                  NC
28          North Dakota  ...                  ND
29              Nebraska  ...                  NE
30         New Hampshire  ...                  NH
31            New Jersey  ...                  NJ
32            New Mexico  ...                  NM
33                Nevada  ...                  NV
34              New York  ...                  NY
35                  Ohio  ...                  OH
36              Oklahoma  ...                  OK
37                Oregon  ...                  OR
38          Pennsylvania  ...                  PA
39          Rhode Island  ...                  RI
40        South Carolina  ...                  SC
41          South Dakota  ...                  SD
42             Tennessee  ...                  TN
43                 Texas  ...                  TX
44                  Utah  ...                  UT
45              Virginia  ...                  VA
46               Vermont  ...                  VT
47            Washington  ...                  WA
48             Wisconsin  ...                  WI
49         West Virginia  ...                  WV
50               Wyoming  ...                  WY

[51 rows x 3 columns]

In [9]:
df.to_csv(r'us_population_abbreviated_state_name', index = False)