# Get daily average tweet sentiment for all states
* input: csv of sentiment analysed tweets for a day
* output: a csv of the average tweet sentiment for each state on that day

In [1]:
# importing libraries
import pandas as pd

In [2]:
# configuring the day
day = '26' #format dd

In [75]:
# The code below imports the csv of tweets into a pandas dataframe
path_sentiment_tweets = 'covid_sentiment_daily_04_{}.csv'.format(day)

sentiment_covid = pd.read_csv(path_sentiment_tweets, engine='python')
sentiment_covid

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified,is_state,state,sentiment,magnitude
0,NaN,Sun Apr 26 00:04:08 +0000 2020,NaN,NaN,NaN,0,1254199547468922880,NaN,NaN,NaN,...,President-Elect JerseyDan,JerseyDan67,130756.0,NaN,NaN,False,True,NJ,-0.1,1.1
1,NaN,Sun Apr 26 00:04:07 +0000 2020,NaN,NaN,https://on.msnbc.com/2VDdSnW,0,1254199542217691136,NaN,NaN,NaN,...,Edge,czarbucks,56553.0,NaN,NaN,False,True,NC,0.1,0.4
2,NaN,Sun Apr 26 00:04:07 +0000 2020,NaN,NaN,NaN,0,1254199544159416320,NaN,NaN,NaN,...,Julie Sirrs,JulieSirrs,111372.0,NaN,NaN,False,True,MT,-0.4,0.8
3,NaN,Sun Apr 26 00:04:07 +0000 2020,NaN,NaN,NaN,0,1254199543790538757,NaN,NaN,NaN,...,Me Ã°Å¸â€™â€¹Ã°Å¸â€™â€¹,THE_Nasty_Woman,157502.0,NaN,NaN,False,True,MA,-0.4,0.9
4,NaN,Sun Apr 26 00:04:07 +0000 2020,NaN,NaN,NaN,0,1254199543425425408,NaN,NaN,NaN,...,WildZ,LoysaZ,168722.0,NaN,NaN,False,True,CO,-0.7,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51917,NaN,Sun Apr 26 23:47:11 +0000 2020,NaN,NaN,https://twitter.com/balajis/status/12544670385...,0,1254557669756526592,NaN,NaN,NaN,...,Daniel March,TheDanielMarch,52927.0,NaN,NaN,False,True,ID,-0.3,2.5
51918,NaN,Sun Apr 26 23:47:11 +0000 2020,NaN,NaN,https://twitter.com/Kate3015/status/1254557213...,1,1254557667265216512,NaN,NaN,NaN,...,OHarriet,OHarriet,6659.0,NaN,NaN,False,True,OH,0.1,0.1
51919,NaN,Sun Apr 26 23:47:10 +0000 2020,NaN,NaN,NaN,0,1254557666233458688,NaN,NaN,NaN,...,Zee,ZazuSz,16311.0,NaN,NaN,False,True,MA,-0.1,0.1
51920,NaN,Sun Apr 26 23:47:10 +0000 2020,NaN,NaN,https://thepointsguy.com/news/delta-parking-a3...,0,1254557666371940357,NaN,NaN,NaN,...,AirlineDispatcherFed,AirlineDispatch,1183.0,NaN,http://www.dispatcher.org,False,True,WA,0.2,0.2
51921,NaN,Sun Apr 26 23:47:11 +0000 2020,NaN,NaN,NaN,0,1254557667386851331,NaN,NaN,NaN,...,President Elect Katia17,katmat57,34017.0,NaN,NaN,False,True,CT,-0.2,0.4

We now need to group the tweets by state using pandas.groupby() and then get the mean of each group. the output is a pandas series, so we convert it to a dataframe to be able to add more columns

In [76]:
average_state_sentiment = sentiment_covid.groupby('state')['sentiment'].mean()

# convert to dataframe 
average_state_sentiment= average_state_sentiment.to_frame()

Next we add the average magnitude for each state as well

In [77]:
average_state_sentiment['magnitude'] = sentiment_covid.groupby('state')['magnitude'].mean()
average_state_sentiment['state'] = average_state_sentiment.index #fixing index
average_state_sentiment.reset_index(inplace=True,drop=True)

# printing some information on the dataframe
average_state_sentiment.info()
average_state_sentiment

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
sentiment    50 non-null float64
magnitude    50 non-null float64
state        50 non-null object
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

    sentiment  magnitude state
0   -0.201456   0.697087    AK
1   -0.159065   0.625794    AL
2   -0.202817   0.667606    AR
3   -0.176443   0.684789    AZ
4   -0.173251   0.690466    CA
5   -0.187910   0.681665    CO
6   -0.168094   0.677730    CT
7   -0.037500   0.692500    DC
8   -0.175000   0.638776    DE
9   -0.190835   0.669079    FL
10  -0.182464   0.655766    GA
11  -0.142553   0.593972    HI
12  -0.196262   0.675234    IA
13  -0.205622   0.700402    ID
14  -0.171897   0.686436    IL
15  -0.171720   0.705161    IN
16  -0.179656   0.695462    KS
17  -0.176248   0.681583    KY
18  -0.197763   0.663535    LA
19  -0.192542   0.682260    MA
20  -0.185335   0.664203    MD
21  -0.170605   0.668876    ME
22  -0.178904   0.663539    MI
23  -0.172488   0.691190    MN
24  -0.196000   0.687636    MO
25  -0.142353   0.632941    MS
26  -0.174302   0.671508    MT
27  -0.177666   0.676574    NC
28  -0.154412   0.814706    ND
29  -0.190164   0.664481    NE
30  -0.165596   0.678440    NH
31  -0.166164   0.668350    NJ
32  -0.146324   0.669118    NM
33  -0.190981   0.694430    NV
34  -0.135600   0.637766    NY
35  -0.177604   0.677025    OH
36  -0.205567   0.674950    OK
37  -0.182621   0.691629    OR
38  -0.176897   0.691243    PA
39  -0.142754   0.707971    RI
40  -0.204323   0.695489    SC
41  -0.161818   0.716364    SD
42  -0.186667   0.665989    TN
43  -0.185138   0.665080    TX
44  -0.158781   0.663082    UT
45  -0.192698   0.685396    VA
46  -0.177500   0.719167    VT
47  -0.133323   0.641283    WA
48  -0.193098   0.710890    WI
49  -0.200000   0.715294    WY

Finally, we can save the dataframe as a csv

In [78]:
average_state_sentiment.to_csv('average_sentiment_{}.csv'.format(day))