# Get April cases for covid and relevant columns
* required datasets: United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv, us_state_population.csv
* also adds a column of abbreviated state names

In [16]:
# importing libraries
import pandas as pd 
import numpy as np

In [17]:
# loading covid cases and deaths data in dataframe

us_covid = pd.read_csv("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv") 
us_covid.head(50)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,12/08/2020,NM,109947,NaN,NaN,0,0.0,1756,NaN,NaN,0,0.0,12/09/2020 02:45:40 PM,NaN,Not agree
1,08/21/2020,MD,103523,NaN,NaN,624,0.0,3685,3546.0,139.0,11,1.0,08/22/2020 02:21:09 PM,NaN,Agree
2,03/05/2020,GA,2,NaN,NaN,-5,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
3,02/08/2020,WA,1,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,NaN,NaN
4,04/11/2020,ND,293,NaN,NaN,15,NaN,7,NaN,NaN,1,NaN,04/10/2020 04:22:39 PM,Agree,Not agree
5,11/14/2020,VA,201961,183455.0,18506.0,1161,191.0,3800,3527.0,273.0,1,0.0,11/15/2020 03:12:13 PM,Agree,Agree
6,12/02/2020,NY,346492,NaN,NaN,5775,0.0,10117,NaN,NaN,56,0.0,12/03/2020 03:21:08 PM,Not agree,Not agree
7,01/23/2020,WY,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
8,04/10/2020,MA,20845,NaN,NaN,1904,NaN,599,NaN,NaN,96,NaN,04/09/2020 04:22:39 PM,Agree,Agree
9,11/15/2020,WA,130040,NaN,NaN,2309,0.0,2519,NaN,NaN,0,0.0,11/16/2020 06:40:02 PM,NaN,NaN
10,08/23/2020,TN,143937,141000.0,2937.0,1854,38.0,1567,1527.0,40.0,4,0.0,08/24/2020 01:54:34 PM,Agree,Agree
11,08/14/2020,MS,70930,69268.0,1662.0,944,106.0,2043,1965.0,78.0,32,9.0,08/15/2020 02:02:05 PM,Agree,Agree
12,05/16/2020,AS,0,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,05/17/2020 03:27:46 PM,NaN,NaN
13,03/13/2020,MS,1,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
14,12/10/2020,WY,38223,33203.0,5020.0,338,24.0,299,299.0,0.0,0,0.0,12/11/2020 03:06:51 PM,Agree,Agree
15,07/29/2020,NV,46021,NaN,NaN,870,0.0,806,NaN,NaN,21,0.0,07/30/2020 02:42:43 PM,NaN,NaN
16,04/07/2020,MS,2003,NaN,NaN,88,NaN,67,NaN,NaN,8,NaN,04/07/2020 04:22:39 PM,Agree,Agree
17,06/18/2020,NJ,168107,NaN,NaN,404,0.0,12800,12800.0,0.0,31,0.0,06/19/2020 03:01:11 PM,Not agree,Agree
18,12/02/2020,AR,161521,NaN,NaN,2212,705.0,2522,NaN,NaN,10,2.0,12/03/2020 03:21:08 PM,Not agree,Not agree
19,12/11/2020,MD,232009,NaN,NaN,3538,0.0,5100,4937.0,163.0,36,0.0,12/12/2020 02:59:37 PM,NaN,Agree
20,08/06/2020,MS,64400,63302.0,1098.0,956,38.0,1825,1772.0,53.0,21,3.0,08/07/2020 11:57:59 PM,Agree,Agree
21,03/15/2020,MA,164,NaN,NaN,55,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
22,08/05/2020,WY,2923,2424.0,499.0,39,7.0,27,27.0,0.0,0,0.0,08/06/2020 02:12:27 PM,Agree,Agree
23,10/28/2020,ID,61785,54193.0,7592.0,862,208.0,599,555.0,44.0,14,0.0,10/29/2020 02:11:33 PM,Agree,Agree
24,08/18/2020,AZ,194920,193416.0,1504.0,915,13.0,4529,4273.0,256.0,23,2.0,08/19/2020 02:23:51 PM,Agree,Agree
25,11/17/2020,GA,430571,391466.0,39105.0,4335,799.0,9008,8496.0,512.0,41,16.0,11/18/2020 02:57:46 PM,Agree,Agree
26,06/09/2020,NV,10030,NaN,NaN,225,-19.0,444,NaN,NaN,-17,-19.0,06/10/2020 08:56:25 PM,NaN,NaN
27,04/19/2020,MI,31424,31424.0,0.0,707,0.0,2391,2391.0,0.0,84,0.0,04/19/2020 04:22:39 PM,Agree,Agree
28,05/26/2020,AS,0,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,05/27/2020 03:37:59 PM,NaN,NaN
29,12/06/2020,TX,1249323,NaN,NaN,8573,0.0,22594,NaN,NaN,92,0.0,12/07/2020 02:38:33 PM,Not agree,Not agree
30,09/13/2020,MS,90018,84557.0,5461.0,144,38.0,2706,2523.0,183.0,9,0.0,09/14/2020 02:01:21 PM,Agree,Agree
31,12/02/2020,NJ,346206,NaN,NaN,4296,0.0,17145,15309.0,1836.0,62,7.0,12/03/2020 03:21:08 PM,Not agree,Agree
32,11/03/2020,NY,248091,NaN,NaN,1519,0.0,9290,NaN,NaN,8,0.0,11/04/2020 03:03:00 PM,Not agree,Not agree
33,09/23/2020,NE,42278,NaN,NaN,493,0.0,462,NaN,NaN,1,0.0,09/24/2020 01:54:02 PM,Not agree,Not agree
34,04/14/2020,ND,341,NaN,NaN,10,NaN,9,NaN,NaN,1,NaN,04/13/2020 04:22:39 PM,Agree,Not agree
35,06/18/2020,WA,27192,NaN,NaN,408,0.0,1245,NaN,NaN,19,0.0,06/19/2020 03:01:11 PM,NaN,NaN
36,02/27/2020,ND,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Not agree
37,03/17/2020,NM,23,NaN,NaN,2,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,NaN,Not agree
38,03/11/2020,NY,164,NaN,NaN,27,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
39,08/05/2020,IA,46659,NaN,NaN,614,0.0,899,NaN,NaN,12,0.0,08/06/2020 02:12:27 PM,Not agree,Not agree
40,03/16/2020,AZ,18,NaN,NaN,5,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
41,02/28/2020,WI,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
42,10/30/2020,TN,259488,244886.0,14602.0,2608,297.0,3341,3156.0,185.0,78,9.0,10/31/2020 01:30:31 PM,Agree,Agree
43,10/28/2020,AR,108640,NaN,NaN,961,271.0,1875,NaN,NaN,18,0.0,10/29/2020 02:11:33 PM,Not agree,Not agree
44,07/31/2020,IN,66154,NaN,NaN,901,0.0,2965,2765.0,200.0,19,0.0,08/01/2020 02:38:12 PM,Not agree,Agree
45,05/05/2020,WA,15594,NaN,NaN,132,0.0,862,NaN,NaN,21,0.0,05/06/2020 04:23:08 PM,NaN,NaN
46,02/27/2020,AS,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,NaN,NaN
47,10/07/2020,SC,153705,148334.0,5371.0,735,201.0,3502,3300.0,202.0,31,6.0,10/08/2020 01:56:57 PM,Agree,Agree
48,02/09/2020,WV,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Not agree
49,10/29/2020,NM,44904,NaN,NaN,1078,0.0,994,NaN,NaN,3,0.0,10/30/2020 01:37:23 PM,NaN,Not agree

We want to remove the the columns that are unnecessary and clean the data set. We are concerned with the new cases, total cases, new deaths and total deaths.

In [18]:
#remove columns
to_drop = ['conf_cases','prob_cases','pnew_case','conf_death','prob_death','pnew_death','created_at','consent_cases','consent_deaths']
us_covid.drop(to_drop, inplace=True, axis=1)
us_covid.rename(columns={'submission_date':'date'},inplace=True)
us_covid.head()

         date state  tot_cases  new_case  tot_death  new_death
0  12/08/2020    NM     109947         0       1756          0
1  08/21/2020    MD     103523       624       3685         11
2  03/05/2020    GA          2        -5          0          0
3  02/08/2020    WA          1         0          0          0
4  04/11/2020    ND        293        15          7          1

We will now remove all the dates for each state, except for the month of April, as this is when we are doing the Sentiment Analysis of Tweets.

In [19]:
#remove dates except for april for each state
april = us_covid[(us_covid['date'] >= '04/01/2020') & (us_covid['date'] <= '04/30/2020')]
april.head()

          date state  tot_cases  new_case  tot_death  new_death
4   04/11/2020    ND        293        15          7          1
8   04/10/2020    MA      20845      1904        599         96
16  04/07/2020    MS       2003        88         67          8
27  04/19/2020    MI      31424       707       2391         84
34  04/14/2020    ND        341        10          9          1

Export the cleaned data set to a csv file.

In [20]:
#export csv
april.to_csv(r'april_covid_deaths_cases.csv', index = False)

Upload the dataset containing the population of each state for 2020 in each US state. Replace the name with the file path.

In [10]:
population = pd.read_csv("us_state_population.csv") 
population.rename(columns={'Population Estimate (as of July 1 2020)': 'population_estimate'},inplace=True)
print(population)

                   State  population_estimate
0                 Alaska               734002
1                Alabama              4908621
2               Arkansas              3038999
3                Arizona              7378494
4             California             39937489
5               Colorado              5845526
6            Connecticut              3563077
7   District of Columbia               720687
8               Delaware               982895
9                Florida             21992985
10               Georgia             10736059
11                Hawaii              1412687
12                  Iowa              3179849
13                 Idaho              1826156
14              Illinois             12659682
15               Indiana              6745354
16                Kansas              2910357
17              Kentucky              4499692
18             Louisiana              4645184
19         Massachusetts              6976597
20              Maryland              6083116
21                 Maine              1345790
22              Michigan             10045029
23             Minnesota              5700671
24              Missouri              6169270
25           Mississippi              2989260
26               Montana              1086759
27        North Carolina             10611862
28          North Dakota               761723
29              Nebraska              1952570
30         New Hampshire              1371246
31            New Jersey              8936574
32            New Mexico              2096640
33                Nevada              3139658
34              New York             19440469
35                  Ohio             11747694
36              Oklahoma              3954821
37                Oregon              4301089
38          Pennsylvania             12820878
39          Rhode Island              1056161
40        South Carolina              5210095
41          South Dakota               903027
42             Tennessee              6897576
43                 Texas             29472295
44                  Utah              3282115
45              Virginia              8626207
46               Vermont               628061
47            Washington              7797095
48             Wisconsin              5851754
49         West Virginia              1778070
50               Wyoming               567025

The following is a dictionary sourced from a GitHub repository with the abbreviated names for each state.

In [11]:
# United States of America Python Dictionary to translate States,
# Districts & Territories to Two-Letter codes and vice versa.
#
# https://gist.github.com/rogerallen/1583593
#
# Dedicated to the public domain.  To the extent possible under law,
# Roger Allen has waived all copyright and related or neighboring
# rights to this code.

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
print(us_state_abbrev)

{'Alabama': 'AL', 'Alaska': 'AK', 'American Samoa': 'AS', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Guam': 'GU', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Northern Mariana Islands': 'MP', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Puerto Rico': 'PR', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virgin Islands': 'VI', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

Add a column with the state abbreviations to the dataframe from the dictionary.

In [12]:
population['state_abbreviation'] = population['State'].map(us_state_abbrev)
print(population)
population.info()

                   State  population_estimate state_abbreviation
0                 Alaska               734002                 AK
1                Alabama              4908621                 AL
2               Arkansas              3038999                 AR
3                Arizona              7378494                 AZ
4             California             39937489                 CA
5               Colorado              5845526                 CO
6            Connecticut              3563077                 CT
7   District of Columbia               720687                 DC
8               Delaware               982895                 DE
9                Florida             21992985                 FL
10               Georgia             10736059                 GA
11                Hawaii              1412687                 HI
12                  Iowa              3179849                 IA
13                 Idaho              1826156                 ID
14              Illinois             12659682                 IL
15               Indiana              6745354                 IN
16                Kansas              2910357                 KS
17              Kentucky              4499692                 KY
18             Louisiana              4645184                 LA
19         Massachusetts              6976597                 MA
20              Maryland              6083116                 MD
21                 Maine              1345790                 ME
22              Michigan             10045029                 MI
23             Minnesota              5700671                 MN
24              Missouri              6169270                 MO
25           Mississippi              2989260                 MS
26               Montana              1086759                 MT
27        North Carolina             10611862                 NC
28          North Dakota               761723                 ND
29              Nebraska              1952570                 NE
30         New Hampshire              1371246                 NH
31            New Jersey              8936574                 NJ
32            New Mexico              2096640                 NM
33                Nevada              3139658                 NV
34              New York             19440469                 NY
35                  Ohio             11747694                 OH
36              Oklahoma              3954821                 OK
37                Oregon              4301089                 OR
38          Pennsylvania             12820878                 PA
39          Rhode Island              1056161                 RI
40        South Carolina              5210095                 SC
41          South Dakota               903027                 SD
42             Tennessee              6897576                 TN
43                 Texas             29472295                 TX
44                  Utah              3282115                 UT
45              Virginia              8626207                 VA
46               Vermont               628061                 VT
47            Washington              7797095                 WA
48             Wisconsin              5851754                 WI
49         West Virginia              1778070                 WV
50               Wyoming               567025                 WY
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
State                  51 non-null object
population_estimate    51 non-null int64
state_abbreviation     51 non-null object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [13]:
# save dataframe
population.to_csv(r'us_population_abbreviated_state_name.csv', index = False)